a:hover{
  text-decoration: none;
}
#quantity {
  max-width: 3.6rem;
}

.w-100px {
  width: 100px;
}
.w-200px {
  width: 200px;
}

.h-100px {
  height: 100px;
}


.mx-width-100 {
  max-width: 100px;
}

.mx-height-100 {
  max-height: 100px;
}

.bg-size-contain {
  background-size: contain;
}
.bg-pos-center {
  background-position: center;

}
.line-height-1 {
  line-height: 1;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
}
.table-item:hover {
  color: #007bff;
}
.order-item-trash:hover {
  color: red;
}

.order-table-title > th {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}