<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <title>SB Admin 2 - Tables</title>
    <th:block th:replace="layout/link.html :: headerLink">
    </th:block>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar.html :: sidebar">
    </th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar.html :: topbar">
            </th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-flex justify-content-between mb-4">

                    <h1 class=" h3 mb-2 text-gray-800 ">Quản lý sản phẩm</h1>
                    <div class="d-flex">
                        <a href="javascript:;" onclick="importProducts.addNew()" class="btn btn-primary btn-icon-split mr-3">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                            <span class="text">Dòng sản phẩm</span>
                        </a>
                        <a href="javascript:;" onclick="importProducts.addNew()" class="btn btn-outline-primary btn-icon-split">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8"
                                                                                                       x2="12"
                                                                                                       y2="16"></line><line
                                    x1="8" y1="12" x2="16" y2="12"></line></svg>
                        </span>
                            <span class="text">Thêm mới</span>
                        </a>
                    </div>
                </div>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Bảng sản phẩm</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="importProducts-datatables" width="100%"
                                   cellspacing="0">
                                <tfoot>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Ngày nhập</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Tổng giá</th>
                                    <th>Ghi chú</th>
                                    <th>Chức năng</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

            <!-- The Modal -->
            <div class="modal" id="modalAddEdit" name="modalAddEdit">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalTitle" name="modalTitle"></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form id="formAddEdit" name="formAddEdit">
                                <input hidden name="id" id="id">
                                <div class="row form-group">
                                    <div class="col-3">
                                        <label>Tên sản phẩm</label>
                                    </div>
                                    <div class="col-9">
                                        <select class="form-control" id="products"></select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-3">
                                        <label>Số lượng</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" type="text"
                                               name="quantity" id="quantity"
                                               data-rule-required=true>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-3">
                                        <label>Giá</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" type="text"
                                               name="price" id="price"
                                               data-rule-required=true>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-3">
                                        <label>Ghi chú</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" type="text"
                                               name="comment" id="comment"
                                               data-rule-required=true>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-primary"
                               onclick="importProducts.save()">Save</a>

                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="layout/link.html :: scriptImport">
</th:block>
</body>

</html>