<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SB Admin 2 - Tables</title>
    <th:block th:replace="layout/link.html :: headerLink">
    </th:block>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar.html :: sidebar">
    </th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar.html :: topbar">
            </th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div><h4 class="">Báo Cáo</h4></div>
                </div>
                <div class="row-xs row">
                    <div class="col-md-3">
                        <a href="/reports/products">
                            <div class="card shadow" style="height: 200px; margin-top: 10px;">
                                <div class="card-body pt-4 pb-4">
                                    <div class="lh-0 mb-4 d-flex justify-content-center" style="width: 100%">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <line x1="18" y1="20" x2="18" y2="10"></line>
                                            <line x1="12" y1="20" x2="12" y2="4"></line>
                                            <line x1="6" y1="20" x2="6" y2="14"></line>
                                        </svg>
                                    </div>
                                    <h5 class="text-dark text-center font-weight-bold">Nhập hàng</h5>
                                    <p class="text-secondary mb-0 text-center">
                                        Báo cáo chi tiết số lượng và doanh thu
                                        theo
                                        từng đơn
                                        hàng
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/reports/ingredients">
                            <div class="card shadow" style="height: 200px; margin-top: 10px;">
                                <div class="card-body pt-4 pb-4">
                                    <div class="lh-0 mb-4 d-flex justify-content-center" style="width: 100%">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <line x1="18" y1="20" x2="18" y2="10"></line>
                                            <line x1="12" y1="20" x2="12" y2="4"></line>
                                            <line x1="6" y1="20" x2="6" y2="14"></line>
                                        </svg>
                                    </div>
                                    <h5 class="text-dark text-center font-weight-bold">Nhập nguyên liệu</h5>
                                    <p class="text-secondary mb-0 text-center">Báo cáo số lượng nguyên liệu đã được sử dụng</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/reports/orders">
                            <div class="card shadow" style="height: 200px; margin-top: 10px;">
                                <div class="card-body pt-4 pb-4">
                                    <div class="lh-0 mb-4 d-flex justify-content-center" style="width: 100%">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <line x1="18" y1="20" x2="18" y2="10"></line>
                                            <line x1="12" y1="20" x2="12" y2="4"></line>
                                            <line x1="6" y1="20" x2="6" y2="14"></line>
                                        </svg>
                                    </div>
                                    <h5 class="text-dark text-center font-weight-bold">Đơn Hàng</h5>
                                    <p class="text-secondary mb-0 text-center">
                                        Báo cáo chi tiết số lượng và doanh thu
                                        theo
                                        từng đơn
                                        hàng
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/reports/stores">
                            <div class="card shadow" style="height: 200px; margin-top: 10px;">
                                <div class="card-body pt-4 pb-4">
                                    <div class="lh-0 mb-4 d-flex justify-content-center" style="width: 100%">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <rect x="1" y="3" width="15" height="13"></rect>
                                            <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                                            <circle cx="5.5" cy="18.5" r="2.5"></circle>
                                            <circle cx="18.5" cy="18.5" r="2.5"></circle>
                                        </svg>
                                    </div>
                                    <h5 class="text-dark text-center font-weight-bold">Nhập/xuất kho</h5>
                                    <p class="text-secondary mb-0 text-center">Báo cáo lịch sử nhập kho và điều chỉnh kho nguyên liệu</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->


</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="layout/link.html :: scriptImport">
</th:block>

</body>

</html>